## Домашняя работа №1

In [17]:
import pandas as pd

In [18]:
! pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /usr/local/lib/python3.12/dist-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.12/dist-packages (from ucimlrepo) (2025.8.3)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.17.0)

In [27]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
adult = fetch_ucirepo(id=2)

# data (as pandas dataframes)
X = pd.concat([adult.data.features, adult.data.targets], axis=1)

In [28]:
X.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [29]:
X.shape

(48842, 15)

In [31]:
for i in X.columns:
  if X[i].isnull().sum() != 0:
    print(i)

workclass
occupation
native-country

In [32]:
X['race'].value_counts()

race
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64

In [33]:
X['hours-per-week'].median()

40.0

In [38]:
len(X[(X['sex'] == 'Male') & (X['income'] != X['income'][0]) ])

17522

In [39]:
len(X[(X['sex'] == 'Female') & (X['income'] != X['income'][0]) ])

6600

In [41]:
X['workclass'] = X['workclass'].fillna(X['workclass'].mode()[0])

In [42]:
X['occupation'] = X['occupation'].fillna(X['occupation'].mode()[0])

In [44]:
X['native-country'] = X['native-country'].fillna(X['native-country'].mode()[0])

In [45]:
X.isnull().any().sum()

np.int64(0)

Итого ответы:
1. 15
2. Пропуски есть в столбцах: workclass,
occupation,
native-country
3. 5, считая "Other"
4. 40 часов
5. Мужчин больше
6. Сделано. Пропущенные данные можно было заменить произвольными значениями(например, нулями или средними/медианными значениями для числовых данных)